body {
  background-color: #282c34;

  #app {
    font-family: Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    p {
      font-size: 5rem;
      color: #009688;
    }
  }
}
