body {
  background-color: #282c34;

  #app {
    font-family: Georgia, Serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #009688;
    font-size: 5vw;

    p {
      margin: 50px;
    }

    .love-container {
      user-select: none;
      border-radius: 50px;
      display: inline-block;
      padding: 5px 30px 10px 30px;
      background-color: #16181d;

      .love-button {
        cursor: pointer;
      }

      .love-count {
        width: 8vw;
        text-align: center;
        display: inline-block;
      }
    }
  }
}
